.alphascroll {
    color: #057bf7;
    text-shadow: none;
    list-style: none;
    position: fixed;
    right: 0px;
    z-index: 1001;
    font-size: 12px;
    font-weight: bold;
    margin:0px;
    padding:0px;
    height:100%;
}
.alphascroll li{
     padding-right:5px;   
}
