.alphascroll {
    color: #057bf7;
    list-style: none;
    position:absolute;
    font-size: 12px;
    font-weight: bold;
    position:absolute;
    z-index: 9999;
    padding:0px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.alphascroll li{
     padding-left:5px;   
}
