.Indexed-List {
    color: #057bf7;
    list-style: none;
    position:absolute;
    font-size: 12px;
    font-weight: bold;
    position:absolute;
    z-index: 9999;
    padding:0px;
    right:0px;
    top:50%;
    transform: translateY(-50%);
}
.Indexed-List li{
     padding-right:5px;   
}
